.btns-panel {
    margin-top: 30px;
}

.btn {
    padding: 10px 20px;
    margin: 0 10px;
    font-weight: bold;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
}

.btn:hover {
    background-color: #fff;
    outline: 0;
}